.pane-med {
  width: 250px;
  overflow: scroll;
}

.padded {
  padding: 15px;
}

.form-group {
  display: flex;
}

.label-cell {
  width: 80px;
  min-width:80px;
  padding-top:0.5em;
}

.owner-name {
  width: 100%;
  border: 0px;
}
